
#map{
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f4;
}


.boton-regresar{
    position: fixed;
    top: 12px;
    right: 12px;
    color: black;
    font-size: 23px !important;
}