<ion-header class="ion-no-border" [translucent]="true" >
  <ion-toolbar>
    <ion-label slot="start" style="margin: 10px"><h1>History</h1></ion-label>
    <ion-label slot="end">Dark mode</ion-label>
    <ion-toggle (ionChange)="changeDark($event)" slot="end" [(ngModel)]="darkOn"></ion-toggle>

    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()"
      color="primary">
        <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-border" >

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


     <ion-list *ngIf="dataLocalService.guardados.length>0"  lines="none" >
   
    <ion-item-sliding detail *ngFor="let registro of dataLocalService.guardados;let i = index" >

        <ion-item-options side="start" >
            <ion-item-option (click)="abrirRegistro(registro)">
                <ion-icon slot="icon-only" name="open-outline"></ion-icon>
            </ion-item-option>
            <ion-item-option color="warning" (click)="share(registro)">
                <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="delete(i)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        
        
        <ion-item fixed>
              <ion-icon slot="start" name="chevron-back-outline" style="zoom:0.5;" ></ion-icon>
              <ion-icon slot="start"  [name]="registro.icon" color="primary"></ion-icon>
              <ion-label>
                <h2>{{registro.text}}</h2>
                <p>{{registro.created|date: 'medium'}}</p>
              </ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" style="zoom:0.5;"></ion-icon>
        </ion-item>

        
        
    </ion-item-sliding>
 
</ion-list>

 

  <!-- <ion-list *ngIf="dataLocalService.guardados.length>0">
    <ion-item detail *ngFor="let registro of dataLocalService.guardados"
    (click)="abrirRegistro(registro)">
      <ion-icon slot="start" [name]="registro.icon" color="primary"></ion-icon>
      <ion-label>
        <h2>{{registro.text}}</h2>
        <p>{{registro.created|date: 'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

</ion-content>

